:root {
	/* Colorscheme based on solarized
	 * https://en.wikipedia.org/wiki/Solarized_(color_scheme)
	 * https://ethanschoonover.com/solarized/
	 */
	--bg: #FDF6E3;
	--fg: #657B83;
	--accent1: #DC322F; /* red */
	--accent2: #268BD2; /* blue */
}
