<head>
  <!-- Meta -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title -->
  <title>{{page.title}}</title>
  <!-- Styles -->
    <!-- Normalize -->
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <!-- Default styles -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- TODO: Make if statement for blog pages -->
    <!-- Blog styles -->
    <link rel="stylesheet" href="/assets/css/blog.css">
    <!-- Adaptive of layout -->
    <link rel="stylesheet" href="/assets/css/adaptive-style.css">
</head>
